<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sách</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quan_ly_sach/quanLySach.css' %}"> <!-- Liên kết đến file CSS -->
</head>
<body>
    <div class="container">
        <button class="back-btn" onclick="goBack()">Back</button>

        <h2>Trang Quản Lý Sách</h2>
            <div class="button-row">
                <button type="button" onclick="show('addDialog')">Thêm</button>
                <button class="search-btn" onclick="show('searchDialog')">Tìm kiếm</button>
            </div>

        <table class="book-table">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Tên tác giả</th>
                    <th>Loại sách</th>
                    <th>Năm xuất bản</th>
                    <th>Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dữ liệu sách sẽ được thêm vào đây sau khi thêm/sửa/xóa -->
                {% for book in books %}
                <tr data-ma_sach="{{ book.ma_sach }}" data-ten_sach="{{ book.ten_sach }}" data-ten_tac_gia="{{ book.ten_tac_gia }}" data-loai_sach="{{ book.loai_sach }}" data-nam_xuat_ban="{{ book.nam_xuat_ban }}" data-so_luong="{{ book.so_luong }}">
                    <td>{{ book.ma_sach }}</td>
                    <td>{{ book.ten_sach }}</td>
                    <td>{{ book.ten_tac_gia }}</td>
                    <td>
                        {% if book.loai_sach == 'TRUYEN' %}
                            Truyện
                        {% elif book.loai_sach == 'KY_NANG' %}
                            Kỹ năng
                        {% elif book.loai_sach == 'KIEN_THUC' %}
                            Kiến thức
                        {% elif book.loai_sach == 'VAN_HOC' %}
                            Văn học
                        {% elif book.loai_sach == 'KHOA_HOC' %}
                            Khoa học
                        {% else %}
                            Khác
                        {% endif %}
                    </td>
                    <td>{{ book.nam_xuat_ban }}</td>
                    <td>{{ book.so_luong }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="search-dialog" id="searchDialog">
        <h2>Tìm kiếm sách</h2>
        <form class="search-form" id="searchForm" action="{% url 'search_sach' %}">
            <div class="input-row">
                <label for="ma-sach">Mã sách:</label>
                <input type="text" id="ma-sach" name="ma-sach">
            </div>

            <div class="input-row">
                <label for="ten-sach">Tên sách:</label>
                <input type="text" id="ten-sach" name="ten-sach">
            </div>

            <div class="input-row">
                <label for="tac-gia">Tên tác giả:</label>
                <input type="text" id="tac-gia" name="tac-gia">
            </div>

            <div class="input-row">
                <label for="loai-sach">Loại sách:</label>
                <input type="text" id="loai-sach" name="loai-sach">
            </div>

            <div class="input-row">
                <label for="nam-xuat-ban">Năm xuất bản:</label>
                <input type="text" id="nam-xuat-ban" name="nam-xuat-ban">
            </div>

            <div class="button-row">
                <button type="submit" class="search-btn">Tìm kiếm</button>
                <button type="button" class="cancel-btn" onclick="hide('searchDialog')">Hủy</button>
            </div>
        </form>
    </div>
    <div class="search-dialog" id="addDialog">
        <h2>Thêm sách</h2>
        <form class="search-form" method="post"  action="{% url 'add_sach' %}">
            {% csrf_token %}
            {{ addForm.as_p }}
            <div class="button-row">
                <button type="submit" class="search-btn">Thêm</button>
                <button type="button" class="cancel-btn" onclick="hide('addDialog')">Hủy</button>
            </div>
        </form>
    </div>
    <div class="search-dialog" id="infoDialog">
        <h2>Thông tin sách</h2>
        <form class="search-form" method="post" id="updateForm" action="{% url 'update_sach' %}">
            {% csrf_token %}
            {{ updateForm.as_p }}
            <div class="button-row">
                <button type="submit" class="search-btn">Cập nhật</button>
                <button type="button" class="delete-btn" onclick="showConfirmDialog()">Xóa</button>
                <button type="button" class="cancel-btn" onclick="hide('infoDialog')">Hủy</button>
            </div>
        </form>
    </div>

     <div class="search-dialog" id="deleteDialog">
        <h2>Xóa sách</h2>
        <form class="search-form" method="post"  action="{% url 'delete_sach' %}">
            <p>Bạn có chắc chắn muốn xóa sách này không</p>
            {% csrf_token %}
            <input type="hidden" name="ma_sach" id="deleteMaSach">
            <div class="button-row">
                <button type="submit" class="delete-btn">Xóa</button>
                <button type="button" class="cancel-btn" onclick="hide('deleteDialog')">Hủy</button>
            </div>
        </form>
    </div>
    <script>
        function goBack() {
            // Replace 'menu.html' with the actual path of your menu page
            window.location.href = "../../menu/menu/";
        }

        let overlay = document.createElement('div');
        overlay.className = 'overlay';

        // Hiển thị lớp nền
        function showOverlay() {
            overlay.style.display = 'block';
        }

        // Ẩn lớp nền
        function hideOverlay() {
            overlay.style.display = 'none';
        }

        // Chặn sự kiện click trên lớp nền và không cho phép lan truyền xuống các thành phần bên dưới
        overlay.addEventListener('click', function (event) {
            event.stopPropagation();
        });

        // Thêm lớp nền vào trang
        document.body.appendChild(overlay);

        function showConfirmDialog() {
            hide('infoDialog')
            showOverlay();
            const maSachValue = document.querySelector("#ma_sach").value;
            const deleteMaSachField = document.querySelector("#deleteMaSach");
            deleteMaSachField.value = maSachValue;
            let deleteDialog = document.getElementById('deleteDialog');
            deleteDialog.style.display = 'block';
        }

        function show(strId) {
            showOverlay();
            let dialog = document.getElementById(strId);
            dialog.style.display = 'block';
        }

        function hide(strId) {
            hideOverlay();
            let dialog = document.getElementById(strId);
            dialog.style.display = 'none';
        }

        // bắt sự kiện click vào từng dòng
        document.addEventListener("DOMContentLoaded", function() {
            const rows = document.querySelectorAll("tbody tr");
            const form = document.querySelector("#updateForm");
            rows.forEach(row => {
                row.addEventListener("click", function(event) {
                    form.querySelector("#ma_sach").value = row.dataset.ma_sach;
                    form.querySelector("#ten_sach").value = row.dataset.ten_sach;
                    form.querySelector("#ten_tac_gia").value = row.dataset.ten_tac_gia;
                    form.querySelector("#loai_sach").value = row.dataset.loai_sach;
                    form.querySelector("#nam_xuat_ban").value = row.dataset.nam_xuat_ban;
                    form.querySelector("#so_luong").value = row.dataset.so_luong;
                    show('infoDialog')
                });
            });
        });

    </script>
</body>
</html>
