<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý độc giả</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quan_ly_doc_gia/quanLyDocGia.css' %}"> <!-- Liên kết đến file CSS -->
</head>
<body>
    <div class="container">
        <form  method="post" action="{% url 'quan_ly_doc_gia' %}">
            {% csrf_token %}
        <button class="back-btn" name="button" value="back">Back</button>
        </form>
        <h2>Trang Quản Lý Độc Giả</h2>
            <div class="button-row">
                <button type="button" class="add-btn" onclick="show('addDialog')">Thêm</button>
                <button class="search-btn" onclick="show('searchDialog')">Tìm kiếm</button>
            </div>

        <table class="reader-table">
            <thead>
                <tr>
                    <th>Mã độc giả</th>
                    <th>Tên độc giả</th>
                    <th>Ngày sinh</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày đăng ký</th>
                    <th>Ngày hết hạn</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dữ liệu độc giả sẽ được thêm vào đây sau khi thêm/sửa/xóa -->
                {% for reader in readers %}
                <tr data-ma_doc_gia="{{ reader.ma_doc_gia }}" data-ten_doc_gia="{{ reader.ten_doc_gia }}" data-ngay_sinh="{{ reader.ngay_sinh }}" data-so_dien_thoai="{{ reader.so_dien_thoai }}" data-ngay_tao_the="{{ reader.ngay_tao_the }}" data-ngay_het_han="{{ reader.ngay_het_han }}" data-dia_chi="{{ reader.dia_chi }}">
                    <td>{{ reader.ma_doc_gia }}</td>
                    <td>{{ reader.ten_doc_gia }}</td>
                    <td>{{ reader.ngay_sinh|date:"Y-m-d" }}</td>
                    <td>{{ reader.so_dien_thoai }}</td>
                    <td>{{ reader.dia_chi }}</td>
                    <td>{{ reader.ngay_tao_the|date:"Y-m-d" }}</td>
                    <td>{{ reader.ngay_het_han|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="search-dialog" id="searchDialog">
        <h2>Tìm kiếm độc giả</h2>
        <form class="search-form" id="searchForm" action="{% url 'search_dg' %}">
            <div class="input-row">
                <label for="ma-doc-gia">Mã độc giả:</label>
                <input type="text" id="ma-doc-gia" name="ma-doc-gia">
            </div>

            <div class="input-row">
                <label for="ten-doc-gia">Tên độc giả:</label>
                <input type="text" id="ten-doc-gia" name="ten-doc-gia">
            </div>

            <div class="input-row">
                <label for="so-dien-thoai">Số điện thoại:</label>
                <input type="tel" id="so-dien-thoai" name="so-dien-thoai">
            </div>

            <div class="button-row">
                <button type="submit" class="search-btn">Tìm kiếm</button>
                <button type="button" class="cancel-btn" onclick="hide('searchDialog')">Hủy</button>
            </div>
        </form>
    </div>

    <div class="search-dialog" id="addDialog">
        <h2>Thêm Độc giả</h2>
        <form class="search-form" method="post"  action="{% url 'add_dg' %}">
            {% csrf_token %}
            {{ addForm.as_p }}
            <div class="button-row">
                <button type="submit" class="search-btn">Thêm</button>
                <button type="button" class="cancel-btn" onclick="hide('addDialog')">Hủy</button>
            </div>
        </form>
    </div>

    <div class="search-dialog" id="infoDialog">
        <h2>Thông tin độc giả</h2>
        <form class="search-form" method="post" id="updateForm" action="{% url 'update_dg' %}">
            {% csrf_token %}
            {{ updateForm.as_p }}
            <div class="button-row">
                <button type="submit" class="search-btn">Cập nhật</button>
                <button type="button" class="delete-btn" onclick="showConfirmDialog()">Xóa</button>
                <button type="button" class="cancel-btn" onclick="hide('infoDialog')">Hủy</button>
            </div>
        </form>
    </div>

     <div class="search-dialog" id="deleteDialog">
        <h2>Xóa Độc giả</h2>
        <form class="search-form" method="post"  action="{% url 'delete_dg' %}">
            <p>Bạn có chắc chắn muốn xóa độc giả này không</p>
            {% csrf_token %}
            <input type="hidden" name="ma_doc_gia" id="deleteMaDocGia">
            <div class="button-row">
                <button type="submit" class="delete-btn">Xóa</button>
                <button type="button" class="cancel-btn" onclick="hide('deleteDialog')">Hủy</button>
            </div>
        </form>
    </div>
    <script>

        function goBack() {
            // Replace 'menu.html' with the actual path of your menu page
            window.location.href = "../../menu/menu/";
        }

        let overlay = document.createElement('div');
        overlay.className = 'overlay';

        // Hiển thị lớp nền
        function showOverlay() {
            overlay.style.display = 'block';
        }

        // Ẩn lớp nền
        function hideOverlay() {
            overlay.style.display = 'none';
        }

        // Chặn sự kiện click trên lớp nền và không cho phép lan truyền xuống các thành phần bên dưới
        overlay.addEventListener('click', function (event) {
            event.stopPropagation();
        });

        // Thêm lớp nền vào trang
        document.body.appendChild(overlay);

        function showConfirmDialog() {
            hide('infoDialog')
            showOverlay();
            const maDocGiaValue = document.querySelector("#ma_doc_gia").value;
            const deleteMaDocGiaField = document.querySelector("#deleteMaDocGia");
            deleteMaDocGiaField.value = maDocGiaValue;
            let deleteDialog = document.getElementById('deleteDialog');
            deleteDialog.style.display = 'block';
        }

        function show(strId) {
            showOverlay();
            let confirmDialog = document.getElementById(strId);
            confirmDialog.style.display = 'block';
        }

        function hide(strId) {
            hideOverlay();
            let confirmDialog = document.getElementById(strId);
            confirmDialog.style.display = 'none';
        }

        // bắt sự kiện click vào từng dòng
        document.addEventListener("DOMContentLoaded", function() {
            const rows = document.querySelectorAll("tbody tr");
            const form = document.querySelector("#updateForm");
            rows.forEach(row => {
                row.addEventListener("click", function(event) {
                    const ngaySinh = new Date(row.dataset.ngay_sinh);
                    const ngayTaoThe = new Date(row.dataset.ngay_tao_the);
                    const ngayHetHan = new Date(row.dataset.ngay_het_han);
                    const ngaySinhFormatted = ngaySinh.toISOString().slice(0, 10);
                    const ngayTaoTheFormatted = ngayTaoThe.toISOString().slice(0, 10);
                    const ngayHetHanFormatted = ngayHetHan.toISOString().slice(0, 10);
                    form.querySelector("#ma_doc_gia").value = row.dataset.ma_doc_gia;
                    form.querySelector("#ten_doc_gia").value = row.dataset.ten_doc_gia;
                    form.querySelector("#ngay_sinh").value = ngaySinhFormatted;
                    form.querySelector("#so_dien_thoai").value = row.dataset.so_dien_thoai;
                    form.querySelector("#dia_chi").value = row.dataset.dia_chi;
                    form.querySelector("#ngay_tao_the").value = ngayTaoTheFormatted;
                    form.querySelector("#ngay_het_han").value = ngayHetHanFormatted;
                    show('infoDialog')
                });
            });
        });
    </script>
</body>
</html>
